body{
    background-color: rgb(3, 2, 16);
    padding: 24px;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.chat{
    display: flex;
}

.input{
    padding-left: 200px;
    padding-top: 100px;
}

.input form textarea{
    opacity: 0.4;
    /* background-color: rgb(211, 139, 7); */
    background-image: url(bk.png);
    opacity: 0.5;
    background-size: cover;
    color: black;
    font-family: cursive;
}

button{
    background-color: rgb(211, 139, 7);
    /* opacity: 0.3; */
    border-radius: 12px;
}

.image{
    height: 30px;
    width: 30px;
}

.chat-container{
/*     
    background-color: white; */
    background-image: url(bk.png);
    opacity: 0.5;
    background-size: cover;
    margin-left: 475px;
    width: 400px;
    padding: 20px;
}

.scroll-div{
    width: 400px;
    background-color: rgba(125, 96, 44, 0);
    height: 650px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-obj{
    color: black;
    font-family: cursive;
    font-size: 15px;
    padding: 20px;
}